Repository SE701Group3/se701-assignment1, pull requests merged in 2020-04, with the labels that each got.

#115 Add nested comment support
  frontend/.eslintrc.js
  frontend/src/pages/PostDetail/PostDetail.jsx
  frontend/src/pages/PostDetail/PostDetailPage.jsx
  frontend/src/pages/PostDetail/PostDetailPageContainer.jsx
  frontend/src/pages/PostDetail/withCreateCommentService.jsx
  frontend/src/services/apiRoutes.js
  frontend/src/services/postDetailService.js
  server/src/db/models/comments.js
  server/src/db/models/post.js
  server/src/routes/posts.js
Labels: enhancement, frontend

#117 Add Login with Google button
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/Login/index.jsx
  frontend/src/routes/routes.jsx
Labels: frontend

#137 Add post edit button
  frontend/package-lock.json
  frontend/src/pages/Frontpage/Post.jsx
  frontend/src/pages/Frontpage/Post.module.css
Labels: frontend

#141 Feature/update comment api call
  frontend/src/pages/Frontpage/FrontpageContainer.jsx
  frontend/src/pages/Frontpage/Post.jsx
  frontend/src/pages/Frontpage/index.jsx
  frontend/src/pages/PostDetail/PostDetail.jsx
  frontend/src/pages/PostDetail/PostDetailPage.jsx
  frontend/src/pages/PostDetail/PostDetailPageContainer.jsx
  frontend/src/services/updatePostService.js
Labels: enhancement, frontend

#143 Add edit post functionality
  frontend/src/pages/Frontpage/EditPost/EditPostModal.jsx
  frontend/src/pages/Frontpage/EditPost/withUpdatePostService.jsx
  frontend/src/pages/Frontpage/Post.jsx
  frontend/src/pages/Login/Login.jsx
Labels: enhancement, frontend

#148 Bug fix for missing loader on edit
  frontend/package-lock.json
  frontend/src/pages/Frontpage/EditPost/withUpdatePostService.jsx
  frontend/src/pages/Frontpage/Post.jsx
Labels: bug, frontend

#146 Add API call for deletePost
  frontend/src/pages/Frontpage/Post.jsx
  frontend/src/services/deletePostService.js
Labels: enhancement, frontend

#149 issue_144, unit tests for update post service
  frontend/src/services/updatePostService.test.js
Labels: frontend

#150 added tests for the delete comments api
  server/test/integration/post.spec.js
Labels: backend, enhancement

#169 Added missing instance of setParentID method
  frontend/src/pages/PostDetail/PostDetailPage.jsx
Labels: bug

#167 Added user schema for db
  frontend/.gitignore
  frontend/package-lock.json
  server/.gitignore
  server/app.js
  server/src/db/index.js
  server/src/db/models/users.js
  server/src/routes/users.js
Labels: backend, enhancement

#162 Firebase auth middleware
  frontend/src/pages/Login/Login.jsx
  server/package-lock.json
  server/package.json
  server/src/firebase.js
  server/src/middleware/firebaseAuth.js
  server/src/routes/comments.js
  server/src/routes/posts.js
  server/src/service-account.json
  server/test/integration/comment.spec.js
  server/test/integration/post.spec.js
Labels: enhancement

#175 Separate endpoints to ones that need auth and ones that don't.
  server/src/routes/comments.js
  server/src/routes/posts.js
Labels: backend, enhancement

#176 Feature/include authors model
  server/src/db/models/comments.js
  server/src/db/models/post.js
Labels: approved, backend, enhancement

#166 Added a delete button which uses delete API
  frontend/package.json
  frontend/src/pages/Frontpage/CreatePost/CreatePost.module.css
  frontend/src/pages/Frontpage/DeletePost/DeletePostModal.jsx
  frontend/src/pages/Frontpage/DeletePost/withDeletePostService.jsx
  frontend/src/pages/Frontpage/Post.jsx
  frontend/src/pages/Frontpage/Post.module.css
  frontend/src/pages/PostDetail/PostDetailPageContainer.jsx
Labels: enhancement, frontend

#178 Updated comment endpoints with user details
  server/src/routes/comments.js
  server/test/integration/comment.spec.js
  server/test/integration/post.spec.js
Labels: backend, enhancement

#173 Authentication token storage
  frontend/package-lock.json
  frontend/src/pages/Login/Login.jsx
  frontend/src/routes/routes.jsx
Labels: enhancement, frontend

#190 Updated post endpoints to include author information + verification
  server/package-lock.json
  server/package.json
  server/src/routes/posts.js
  server/test/integration/comment.spec.js
  server/test/integration/post.spec.js
Labels: backend, enhancement

#180 Added functionality to handle user login success state
  frontend/src/common/Header/Header.jsx
  frontend/src/common/Header/Header.module.css
  frontend/src/common/Header/Login.css
  frontend/src/common/Header/Login.jsx
  frontend/src/common/Header/SubthreaderDropdown.css
  frontend/src/pages/Frontpage/FrontpageContainer.jsx
  frontend/src/pages/Frontpage/index.jsx
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/Login/index.jsx
  frontend/src/pages/PostDetail/PostDetailPage.jsx
  frontend/src/pages/PostDetail/PostDetailPageContainer.jsx
  frontend/src/routes/routes.jsx
Labels: enhancement, frontend

#191 Feature/prevent vote abuse
  server/src/routes/posts.js
  server/test/integration/post.spec.js
Labels: backend, enhancement

#198 Feature/get user names
  server/src/db/models/users.js
  server/src/routes/comments.js
  server/src/routes/posts.js
  server/src/routes/users.js
Labels: backend, enhancement

#199 Modify APIs to handle authorisation token
  frontend/package-lock.json
  frontend/src/services/createPostService.js
  frontend/src/services/createSubthread.js
  frontend/src/services/deletePostService.js
  frontend/src/services/postDetailService.js
  frontend/src/services/updatePostService.js
  server/src/middleware/firebaseAuth.js
Labels: approved, enhancement, frontend

#203 Added authentication for voting on posts
  frontend/src/pages/Frontpage/Post.jsx
  frontend/src/services/frontpageService.js
Labels: enhancement, frontend

#205 Hide button on successful login and refresh of browser
  frontend/src/common/Header/Login.jsx
Labels: enhancement, frontend

#207 Used firebase localstorage to get user account info
  frontend/src/common/Header/Login.jsx
Labels: enhancement, frontend
